
<div class="body-container">
  <md-card>
    <h3>Your confirmation code was sent to</h3>
    <h4><em>{{email}}</em></h4>

    <form class="example-form">

      <md-input-container style="margin-top: 50px;" class="example-full-width">
        <input mdInput placeholder="Confirmation Code" #confirmationCode>
      </md-input-container>

      <div class="button-row">
        <a routerLink="/"><button md-raised-button>Resend</button></a>
        <a routerLink="/console"><button (click)="submitForm(confirmationCode.value);" md-raised-button style="margin-left: 10px;">Confirm</button></a>
      </div>
    </form>
  </md-card>
</div>
