
<div class="body-container">
  <md-card>
    <form class="example-form">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Username" #username>
      </md-input-container>

      <md-input-container style="margin-top: 50px;" class="example-full-width">
        <input mdInput placeholder="Confirmation Code" #confirmationCode>
      </md-input-container>

      <div class="button-row">
        <a routerLink="/"><button md-raised-button>Resend</button></a>
        <a routerLink="/console"><button (click)="submitForm(username.value, confirmationCode.value);" md-raised-button style="margin-left: 10px;">Confirm</button></a>
      </div>
    </form>
  </md-card>
</div>
