
<div class="body-container">
  <md-card>
    <form class="example-form">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Username" #newUsername>
      </md-input-container>

      <table class="example-full-width" cellspacing="0"><tr>
        <td><md-input-container class="example-full-width">
          <input type="password" mdInput placeholder="Password" #newPassword>
        </md-input-container></td>
        <td><md-input-container id="seperateInput" class="example-full-width">
          <input type="password" mdInput placeholder="Password Confirm" #newPasswordConfirm>
        </md-input-container></td>
      </tr></table>

      <md-input-container style="margin-top: 50px;" class="example-full-width">
        <input mdInput placeholder="Email" #newEmail>
      </md-input-container>

      <md-input-container style="margin-top: 50px;" class="example-full-width">
        <input mdInput placeholder="Phone number" #newPhoneNumber>
      </md-input-container>



      <table class="example-full-width" cellspacing="0"><tr>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder="First name" #newFirstName>
        </md-input-container></td>
        <td><md-input-container id="seperateInput" class="example-full-width">
          <input mdInput placeholder="Last name" #newLastName>
        </md-input-container></td>
      </tr></table>

      <p>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Address" #newAddress></textarea>
        </md-input-container>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Address 2" #newAddressTwo></textarea>
        </md-input-container>
      </p>

      <table class="example-full-width" cellspacing="0"><tr>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder="City" #newCity>
        </md-input-container></td>
        <td><md-input-container id="seperateInput" class="example-full-width">
          <input mdInput placeholder="State" #newState>
        </md-input-container></td>
        <td><md-input-container id="seperateInput" class="example-full-width">
          <input mdInput #postalCode maxlength="5" placeholder="Postal Code" #newPostalCode>
        </md-input-container></td>
      </tr></table>
      <div class="button-row">
        <a routerLink="/"><button md-raised-button>Cancel</button></a>
        <a routerLink="/userConfirmation"><button (click)="register();" md-raised-button style="margin-left: 10px;">Confirm</button></a>
      </div>
    </form>
  </md-card>
</div>


<!--submitForm(newUsername.value, newPassword.value, newPasswordConfirm.value, newEmail.value, newPhoneNumber.value, newFirstName.value, newLastName.value, newAddress.value, newAddressTwo.value, newCity.value, newState.value, newPostalCode.value);-->
