<md-card>
  <form class="example-form">
    <div class="form-group">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Table name">
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Partition key">
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Sort key">
      </md-input-container>
    </div>
    <div class="form-button">
      <button class="centerButton" md-raised-button>Create</button>
    </div>
  </form>
</md-card>

<md-card>
  <h1>Table should be here</h1>
</md-card>
