md-card{
  margin-top: 2%;
}

#linksTable {
  width: 100%;
}

.list-items {
  font-size: 12px;
}

/*.form-button{
  width: 100%;
}*/

.centerButton{
  width: 50%;
  margin: 0 auto;
}


#big{
  font-size: 3em;
}

#small{
  font-size: 1.5em;
  font-weight: 400;
}

#create{
  margin: 0 auto;
  width: 50%;
}

#create button{
  margin-left: 25%;
}