<md-card>
  <form class="example-form">
    <div class="form-group">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Table name" #newTableName>
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput placeholder="Partition key" #newPartitionKey>
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput placeholder="Sort key" #newSortKey>
      </md-input-container>
    </div>
    <div class="form-button">
      <button class="centerButton" md-raised-button (click)="submitForm(newTableName.value, newPartitionKey.value, newSortKey.value); newTableName.value=''; newPartitionKey.value=''; newSortKey.value='';">Create</button>
    </div>
  </form>
</md-card>

<md-card id='linksTable'>
  <h1>Links</h1>
  <md-list>
      <md-list-item *ngFor="let link of links"><span class='list-items'>{{link.name}} - {{link.text}}</span>
      </md-list-item>
  </md-list>
</md-card>
